
global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend myfrontend
  bind :80
  default_backend webservers

backend webservers
  # Each demo container has an entry here:
  server s1 demo1:80 check
  server s2 demo2:80 check
  server s3 demo3:80 check
  server s4 demo4:80 check
  server s5 demo5:80 check
  server s6 demo6:80 check
